:root {
  --bg: #1e1e2e;
  --bg-RGB-0: rgba(30, 30, 44, 0.5);
  --bg-RGB-1: rgba(30, 30, 44, 1);

  --fg: #CDD6F4;

  --dark: #181825;
  --grey: #6c7086;
  --green: #A6E3A1;
  --green-RGB-1: rgba(166, 227, 161, 0.25);
  --blue: #89B4FA;
  --blue-RGB-1: rgba(137, 180, 250, 0.25);
  --pale-blue: #94E2D5;
  --yellow: #F9E2AF;
  --yellow-RGB-1: rgba(249, 226, 175, 0.25);
  --red: #F38BA8;
}

@font-face {
  font-family: Normal;
  src: url("../font.ttf");
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: Normal;
}

body {
  background: var(--bg);
  color: var(--fg);
}

#preloader {
  position: fixed;

  top: 0;
  left: 0;

  z-index: 100;

  width: 100dvw;
  height: 100dvh;

  padding: 10px;

  background: var(--bg);
  color: var(--fg);

  p {
    font-size: 0.5rem;
  }

  .line {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }

  .prompt {
    --p-bg: #cdd6f4;
    --p-fg: #1e1e2e;

    display: inline-block;
    padding: 0 10px 0 10px;
    margin-right: 5px;

    border-radius: 16px;
    background: var(--p-bg);
    color: var(--p-fg);
  }

  .hidden {
    opacity: 0;
  }

  .source {
    background: var(--fg);
    color: var(--bg);
  }

  .loader {
    padding: 0 5px 0 5px;
    color: var(--red);
  }

  .loader-ready {
    padding: 0 5px 0 5px;
    color: var(--green);
  }

  .hl-grey {
    color: var(--grey);
  }

  .hl-green {
    color: var(--green);
  }

  .hl-red {
    color: var(--red);
  }

  .hl-yellow {
    color: var(--yellow);
  }
}

#main {
  font-size: 0.8rem;

  .intro {
    position: relative;

    width: 100dvw;
    height: 100dvh;

    overflow: hidden;

    .bg {
      position: absolute;
      display: grid;

      top: 0;
      left: 0;

      width: 100dvw;
      height: 100dvh;

      overflow: hidden;

      grid-auto-flow: column;
      grid-auto-columns: 3rem 1fr;
      grid-column-gap: 5px;

      font-size: 0.5rem;

      .buffer {
          .h1 {
            background-color: var(--green-RGB-1);
            color: var(--green);

            padding: 0 5px;
          }

          .list-marker {
            color: var(--blue);
          }

          .callout-note {
            border-left: 2.5px solid var(--blue);
            padding-left: 5px;
          }

          .callout-note.marker {
            border-left: 2.5px solid var(--blue);
            color: var(--blue);

            font-weight: 700;
            padding-left: 5px;
          }
      }

      .statuscol {
        display: grid;

        grid-auto-flow: column;
        grid-auto-columns: 1fr 1px;
        grid-column-gap: 5px;

        .border {
          background-color: var(--grey);
          background-image: linear-gradient(var(--grey), var(--blue), var(--grey));

          background-repeat: no-repeat;
          background-size: 100% 10rem;
        }

        .lnum {
          text-align: right;
        }
      }
    }

    .content {
      position: absolute;
      display: grid;

      top: 0;
      left: 0;

      z-index: 2;

      width: 100dvw;
      height: 100dvh;

      background-image: linear-gradient(to bottom, var(--bg-RGB-0), var(--bg-RGB-1) 90%);

      justify-content: center;
      align-content: center;
      text-align: center;

      .name-container {
        display: block;

        font-size: 4rem;
        font-weight: 200;

        div {
          display: inline-block;
        }
      }
    }
  }

  .section {
    position: relative;

    width: 100dvw;
    height: 100dvh;

    background: var(--bg);
    color: var(--fg);

    overflow-x: hidden;

    .content {
      position: absolute;
      display: grid;

      top: 0;
      left: 0;

      z-index: 5;

      width: 100dvw;
      height: 100dvh;

      padding: 20px;

      justify-content: center;
      align-content: center;
      text-align: center;

      .section-name {
        font-size: 2rem;
        padding-bottom: 1rem;
      }

      .section-name::before {
        content: "//";
      }
    }

    .bg {
      position: absolute;
      display: grid;

      top: 0;
      left: 0;

      z-index: 1;

      width: 100dvw;
      height: 100dvh;

      overflow: hidden;

      .blur {
        --r: max(20dvw, 200px);

        position: absolute;

        background: linear-gradient(var(--blue), var(--green));
        filter: blur(calc(var(--r) * 0.3));

        bottom: calc(var(--r) * -1);
        left: calc(50dvw - var(--r));

        width: calc(var(--r) * 2);
        height: calc(var(--r) * 2);

        min-width: 200px;
        min-height: 200px;

        border-radius: 50%;

        opacity: 1;
      }
    }
  }

  .section#about-me {
    .overlay {
      position: absolute;
      display: grid;

      top: 0;
      left: 0;

      z-index: 1;

      width: 100dvw;
      height: 100dvh;

      background-color: var(--bg-RGB-0);
    }

    .terminal {
      position: absolute;

      top: 50dvh;
      left: calc(50dvw - 150px);

      z-index: 10;

      padding: 10px;
      font-size: 0.5rem;

      border: 1px solid var(--blue);
      border-radius: 10px;

      background-color: var(--bg);

      transform: perspective(2000px) rotateX(-20deg) rotateY(20deg) rotateZ(10deg);
      box-shadow: -5px -5px 2px rgba(0, 0, 0, 0.25);

      .prompt {
        --p-bg: #cdd6f4;
        --p-fg: #1e1e2e;
 
        display: inline-block;
        padding: 0 10px 0 10px;
        margin-right: 5px;

        border-radius: 16px;
        background: var(--p-bg);
        color: var(--p-fg);
      }
    }

    .cmdline {
      position: absolute;

      top: calc(50dvh + 100px);
      right: calc(50dvw - 150px);

      z-index: 4;

      padding: 10px;
      font-size: 0.5rem;

      border: 1px solid var(--blue);
      border-radius: 10px;

      background-color: var(--bg);

      transform: perspective(2000px) rotateX(10deg) rotateY(-10deg) rotateZ(-5deg);
      box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
    }

    .cmdline::before {
      content: " Nvim v0.10";
      position: inherit;

      top: 0;
      right: 5px;

      padding: 0 5px;

      color: var(--blue);
      background: inherit;
      transform: translateY(-50%);
    }
  }

  .section#skills {
    overlay: hidden;

    .warn {
      position: absolute;

      top: 0;
      left: 50dvw;

      z-index: 10;

      padding: 5px;

      border: 1px solid var(--yellow);
      border-radius: 5px;

      color: var(--yellow);
      background-color: color-mix(in srgb, var(--bg) 60%, var(--yellow) 20%);

      font-size: 0.5rem;

      p {
        white-space: pre;
      }
    }

    .error {
      position: absolute;

      top: 0;
      left: 50dvw;

      z-index: 10;

      padding: 5px;

      border: 1px solid var(--red);
      border-radius: 5px;

      color: var(--red);
      background-color: color-mix(in srgb, var(--bg) 60%, var(--red) 20%);

      font-size: 0.5rem;

      p {
        white-space: pre;
      }
    }

    .snap-1 {
      top: 50dvh;
      left: calc(50dvw - 50px);

      transform: rotate(10deg);
    }

    .snap-2 {
      top: 50dvh;
      left: calc(50dvw - 150px);

      transform: rotate(-10deg);
    }

    .snap-3 {
      top: 50dvh;
      left: calc(50dvw - 50px);

      transform: rotate(10deg);
    }

    .snap-4 {
      top: 50dvh;
      left: calc(50dvw - 150px);

      transform: rotate(-10deg);
    }

    .bg {
      overflow: hidden;
      opacity: 0.25;

      #did-you-know {
        position: absolute;
        display: block;

        bottom: 0;
        left: 50dvw;

        transform: translateX(-50%);
        text-align: center;

        font-size: 0.5rem;
        opacity: 0.5;

        &::before {
          position: absolute;

          top: 0;
          left: -20px;

          content: "/* ";
          font-size: 1rem;
        }

        &::after {
          position: absolute;

          top: 0;
          right: -20px;

          content: " */";
          font-size: 1rem;
        }
      }

      .slider-left {
        position: absolute;

        top: 0;
        left: -15dvw;

        transform: scaleX(-1) scaleY(-1);
 
        writing-mode: vertical-lr;
        font-size: 25dvw;
 
        p {
          text-wrap: nowrap;
 
          span {
            display: inline-block;
          }
        }
      }
 
      .slider-right {
        position: absolute;
 
        bottom: 0;
        right: -12.5dvw;
 
        transform: scaleX(-1) scaleY(-1);
 
        writing-mode: vertical-lr;
        font-size: 25dvw;
 
        p {
          text-wrap: nowrap;
 
          span {
            display: inline-block;
          }
        }
      }

      .outlined {
        -webkit-text-fill-color: transparent;

        -webkit-text-stroke-color: var(--fg);
        -webkit-text-stroke-width: 1px;
      }
    }

    .content {
      z-index: 5;

      .grid-container {
        display: grid;

        grid-auto-flow: column;
        grid-auto-columns: 1fr 1fr;
        grid-gap: 10px;

        font-size: 3rem;

        .left, .right {
          align-content: center;
        }
      }
    }
  }

  .section#projects {
    .bg {
      position: absolute;
      display: grid;

      top: 0;
      left: 0;

      z-index: 10;

      width: 100dvw;
      height: 100dvh;

      padding: 20px;

      justify-content: center;
      align-content: center;
      text-align: center;

      .section-name {
        display: block;
        position: absolute;

        top: 50dvh;
        left: 50dvw;

        transform: translate(-50%, -50%);

        font-size: 2rem;

        span {
          display: inline-block;
        }
      }

      .icons {
        display: grid;

        grid-auto-flow: column;
        grid-column-gap: 20px;

        font-size: 5rem;
        opacity: 0.25;
      }

      .show {
        position: absolute;

        top: 0;
        left: 0;

        z-index: 10;

        padding: 5px;

        border: 1px solid var(--blue-RGB-1);
        border-radius: 5px;

        color: var(--red);
        background-color: var(--dark);

        text-align: left;
        font-size: 0.5rem;

        color: var(--fg);

        &.tilt-1 {
          transform: translate(-50%, -50%) perspective(2000px) rotateX(32deg) rotateY(-10deg) rotateZ(9deg);
        }

        &.tilt-2 {
          transform: translate(-50%, -50%) perspective(2000px) rotateX(32deg) rotateY(20deg) rotateZ(-18deg);
        }

        &.mrk-txt {
          top: calc(50dvh - (10 * 1rem));
          left: calc(50dvw + 5rem);
        }

        &.mrk-prv {
          top: calc(50dvh + (10 * 1rem));
          left: calc(50dvw - 5rem);
        }

        &.hlp-txt {
          top: calc(50dvh - (10 * 1.25rem));
          left: calc(50dvw - 5rem);
        }

        &.hlp-prv {
          top: calc(50dvh + (5 * 1.25rem));
          left: calc(50dvw + 5rem);
        }

        &.site-npm {
          top: calc(50dvh - (5 * 1.5rem));
          left: calc(50dvw - 5rem);
        }

        &.site-vite {
          top: calc(50dvh + (5 * 1.5rem));
          left: calc(50dvw + 0rem);
        }

        p {
          white-space: pre;
        }

        code {
          padding: 0 5px;
          background-color: color-mix(in srgb, var(--grey) 20%, var(--grey) 20%);

          border-radius: 2.5px;
        }

        .prompt {
          --p-bg: #cdd6f4;
          --p-fg: #1e1e2e;

          display: inline-block;
          padding: 0 10px 0 10px;
          margin-right: 5px;

          border-radius: 16px;
          background: var(--p-bg);
          color: var(--p-fg);
        }

        .h1 {
          display: inline-block;
          padding: 0 5px;

          color: var(--green);
          background-color: var(--green-RGB-1);
        }

        .h1-help {
          padding: 0 5px;

          color: var(--green);
          background-color: var(--green-RGB-1);
        }

        .h2 {
          display: inline-block;
          padding: 0 5px;

          color: var(--blue);
          background-color: var(--blue-RGB-1);
        }

        .h2-help {
          padding: 0 5px;

          color: var(--blue);
          background-color: var(--blue-RGB-1);
        }

        .h1-border {
          color: transparent;
          background-color: var(--green-RGB-1);

          background-image: linear-gradient(to bottom,
            var(--green-RGB-1) 0%,
            var(--green-RGB-1) 30%,
            var(--green) 30%,
            var(--green) 40%,
            var(--green-RGB-1) 40%,
            var(--green-RGB-1) 60%,
            var(--green) 60%,
            var(--green) 70%,
            var(--green-RGB-1) 70%,
            var(--green-RGB-1) 100%
          );
        }

        .h2-border {
          color: transparent;
          background-color: var(--blue-RGB-1);

          background-image: linear-gradient(to bottom,
            var(--blue-RGB-1) 0%,
            var(--blue-RGB-1) 45%,
            var(--blue) 45%,
            var(--blue) 55%,
            var(--blue-RGB-1) 55%,
            var(--blue-RGB-1) 100%
          );
        }

        .tag {
          float: right;
          padding: 0 5px;
          font-weight: 700;

          color: var(--blue);
          background-color: color-mix(in srgb, var(--blue) 20%, var(--blue) 20%);
        }

        .tag-raw {
          float: right;
          font-weight: 700;

          color: var(--blue);
        }

        .ind {
          --lvl: 1;
          display: block;

          padding: 0 0 0 calc(10px * var(--lvl));
        }

        .code-block {
          color: var(--grey);
          background-color: color-mix(in srgb, var(--bg) 100%, var(--fg) 10%);
        }

        .hidden {
          color: transparent;
        }
      }
    }

    .content {
      --x: 0;
      --y: 0;

      z-index: 10;

      padding: 10dvw;

      background-color: var(--grey);
      background-image: radial-gradient(var(--fg) 10%, color-mix(in srgb, var(--grey) 100%, var(--grey) 75%) 60%);

      background-position: top var(--y) left var(--x);
      background-attachment: local;
      background-clip: text;

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      background-size: 50dvw 50dvw;
      background-repeat: no-repeat;

      justify-content: start;

      .project {
        padding: 10px 0;

        font-size: 1.25rem;
        transition: 0.25s;

        text-align: left;

        &:hover {
          padding-left: 20px;
        }
      }
    }
  }
}

.fg {
  color: var(--fg) !important;
}

.red {
  color: var(--red) !important;
}

.green {
  color: var(--green) !important;
}

.blue {
  color: var(--blue) !important;
}

.yellow {
  color: var(--yellow) !important;
}

.pale-blue {
  color: var(--pale-blue) !important;
}

.grey {
  color: var(--grey) !important;
}

a,a:hover,a:click, a:visited{
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
  -webkit-tap-highlight-color: var(--fg);
}
