:root {
	--light-bg: #EFF1F5;
	--light-fg: #4C4F69;

	--light-c1: #D20F39;
	--light-c2: #FE640B;
	--light-c3: #DF8E1D;
	--light-c4: #40A02B;
	--light-c5: #1E66F5;

	--light-s1: #BCC0CC;
	--light-s2: #8C8FA1;
	--light-s3: #6C6F85;


	--dark-bg: #1E1E2E;
	--dark-fg: #CDD6F4;

	--dark-c1: #F38BA8;
	--dark-c2: #FAB387;
	--dark-c3: #F9E2AF;
	--dark-c4: #A6E3A1;
	--dark-c5: #89B4FA;

	--dark-s1: #45475A;
	--dark-s2: #7F849C;
	--dark-s3: #A6ADC8;


	--tr-dur: 0.25s;
}

/* Dark mode */
body[data-theme="dark"] {
	background-color: var(--dark-bg);
	color: var(--dark-fg);

	transition-property: background-color, color;
	transition-duration: var(--tr-dur);

	#loader {
		background-color: var(--dark-bg);
		color: var(--dark-fg);

		transition-property: background-color, color;
		transition-duration: var(--tr-dur);

		.atom {
			.atom-container {
				.background {
					stroke: var(--dark-fg);

					transition-property: stroke;
					transition-duration: var(--tr-dur);
				}

				.circle-left, .circle-right {
					stroke: var(--dark-fg);
				}

				.circle-right.changed {
					stroke: var(--dark-c5);
				}

				.hider {
					background-color: var(--dark-bg);

					transition-property: background-color;
					transition-duration: var(--tr-dur);
				}

				.core {
					background-image: radial-gradient(at 25% 25%, var(--dark-c5) 0%, transparent 90%);

					transition-property: background-image;
					transition-duration: var(--tr-dur);
				}

				.orbit {
					border-color: var(--dark-s2);

					transition-property: background-image;
					transition-duration: var(--tr-dur);

					.electron {
						&::before {
							background-color: var(--dark-s3);

							transition-property: background-color;
							transition-duration: var(--tr-dur);
						}
					}
				}
			}
		}

		.loader-text {
			color: var(--dark-fg);

			transition-property: color;
			transition-duration: var(--tr-dur);
		}

		.loader-text-overlay {
			background-image: linear-gradient(to bottom, transparent 50%, var(--dark-bg) 80%);

			transition-property: background-image;
			transition-duration: var(--tr-dur);
		}
	}

	#body {
		background-color: var(--dark-bg);
		color: var(--dark-fg);

		transition-property: background-color, color;
		transition-duration: var(--tr-dur);

		.intro {
			background-image: conic-gradient(from 270deg, var(--dark-s1), var(--dark-bg) 50%);

			transition-property: background-image;
			transition-duration: var(--tr-dur);

			.name {
				color: var(--dark-fg);

				transition-property: color;
				transition-duration: var(--tr-dur);
			}

			.desc {
				color: var(--dark-fg);

				transition-property: color;
				transition-duration: var(--tr-dur);

				.color-0, .color-1 , .color-2, .color-3, .color-4, .color-5 {
					background-color: var(--dark-s1);

					transition-property: background-color, color;
					transition-duration: var(--tr-dur);
				}
			}

			.upper {
				border-color: var(--dark-bg);
				background-color: var(--dark-bg);

				&::before {
					color: var(--dark-c2);

					transition-property: color;
					transition-duration: var(--tr-dur);
				}
			}

			.lower {
				transition-property: color, background-color, border-color;
				transition-duration: var(--tr-dur);

				&::before {
					color: var(--dark-c5);
					background-color: var(--dark-bg);

					filter: contrast(125%);

					transition-property: color;
					transition-duration: var(--tr-dur);
				}
			}

			.arrow {
				background-color: var(--dark-c5);
				background-image: -webkit-linear-gradient(var(--dark-bg), var(--dark-c5));

				-webkit-text-fill-color: transparent;
			}
		}

		.about-me {
			color: var(--dark-fg);

			transition-property: color, background-color;
			transition-duration: var(--tr-dur);

			.color-0, .color-1 , .color-2, .color-3, .color-4, .color-5 {
				transition-property: background-color, color;
				transition-duration: var(--tr-dur);
			}

			.overlay {
				background-image: linear-gradient(var(--dark-bg), transparent, var(--dark-bg));
			}

			.name-left, .name-right {
				p {
					font-weight: 500;

					.outline {
						color: var(--dark-bg);
						-webkit-text-stroke: 1px var(--dark-fg);
					}

					.outline-special {
						-webkit-text-stroke: 1px var(--dark-c5);
					}
				}
			}
		}

		.interests {
			color: var(--dark-fg);
			background-color: var(--dark-bg);

			transition-property: color, background-color;
			transition-duration: var(--tr-dur);

			hr {
				background-color: var(--dark-s1);
			}

			.winbar {
				background-color: var(--dark-bg);
				border-color: var(--dark-s1);

				p {
					.root {
						color: var(--dark-bg);
						background-color: var(--dark-c5);
					}
				}
			}

			.doc {
				color: var(--dark-fg);
				background-color: var(--dark-bg);

				transition-property: color, background-color;
				transition-duration: var(--tr-dur);

				.mention {
					filter: contrast(150%);
					color: var(--dark-c4);
					background-color: var(--dark-s1);
				}

				.ref {
					filter: contrast(150%);
					color: var(--dark-c5);
					background-color: var(--dark-s1);
				}

				code {
					filter: contrast(150%);
					color: var(--dark-c5);
					background-color: var(--dark-s1);
				}

				.color-0.pad::before {
					color: transparent;
					background-color: var(--dark-s2);
				}

				.color-1.pad::before {
					color: transparent;
					background-color: var(--dark-c1);
				}

				.color-2.pad::before {
					color: transparent;
					background-color: var(--dark-c2);
				}

				.color-3.pad::before {
					color: transparent;
					background-color: var(--dark-c3);
				}

				.color-4.pad::before {
					color: transparent;
					background-color: var(--dark-c4);
				}

				.color-5.pad::before {
					color: transparent;
					background-color: var(--dark-c5);
				}
			}

			.script {
				.line {
					.statuscolumn {
						background-color: var(--dark-bg);
						border-right: 1px solid var(--dark-s2);

						.lnum {
							color: var(--dark-s3);
						}

						.lnum-active {
							color: var(--dark-c5);
							font-weight: bold;
						}
					}

					.cursorline {
						background-color: var(--dark-s1)
					}
				}

				.cursor {
					background-color: var(--dark-fg);
					color: var(--dark-bg);
				}

				.statusline {
					background-color: var(--dark-bg);

					.mode {
						background-color: var(--dark-c5);
						color: var(--dark-bg);
					}

					.file {
						background-color: var(--dark-s2);
						color: var(--dark-bg);
					}
				}
			}
		}

		.projects {
			.ui {
				border-color: var(--dark-s1);

				transition-duration: 0.5s;

				&::before {
					color: var(--dark-s2);
					background-color: var(--dark-bg);

					transition-duration: 0.5s;
				}
			}

			.ui#preview {
				.display {
					opacity: 0;
				}

				.display.current {
					opacity: 1;
				}

				.display#mkv {
					hr {
						background-color: var(--dark-s1);
					}

					.raw {
						h1 {
							color: var(--dark-c1);
						}

						h2 {
							color: var(--dark-c2);
						}

						h3 {
							color: var(--dark-c3);
						}

						code {
							filter: contrast(150%);
							color: var(--dark-c5);
						}
					}

					.preview {
						h1 {
							color: var(--dark-c1);

							&::before {
								background-color: var(--dark-c1);
							}
						}

						h2 {
							color: var(--dark-c2);

							&::before {
								background-color: var(--dark-c2);
							}
						}

						h3 {
							color: var(--dark-c3);

							&::before {
								background-color: var(--dark-c3);
							}
						}

						code {
							filter: contrast(150%);
							color: var(--dark-c5);
							background-color: var(--dark-s1);
						}
					}
				}

				.display#hpv {
					hr {
						background-color: var(--dark-s1);
					}

					.raw {
						h1 {
							color: var(--dark-c5);
						}

						.mention {
							color: var(--dark-c4);
						}

						.ref {
							filter: contrast(150%);
							color: var(--dark-c5);
						}

						code {
							filter: contrast(150%);
							color: var(--dark-c5);
						}
					}

					.preview {
						h1 {
							color: transparent;
							background-color: var(--dark-c1);

							opacity: 0.25;
						}

						.mention {
							filter: contrast(150%);
							color: var(--dark-c4);
							background-color: var(--dark-s1);
						}

						.ref {
							filter: contrast(150%);
							color: var(--dark-c5);
							background-color: var(--dark-s1);
						}

						code {
							filter: contrast(150%);
							color: var(--dark-c5);
							background-color: var(--dark-s1);
						}

						.color-0.pad::before {
							color: transparent;
							background-color: var(--dark-s2);
						}

						.color-1.pad::before {
							color: transparent;
							background-color: var(--dark-c1);
						}

						.color-2.pad::before {
							color: transparent;
							background-color: var(--dark-c2);
						}

						.color-3.pad::before {
							color: transparent;
							background-color: var(--dark-c3);
						}

						.color-4.pad::before {
							color: transparent;
							background-color: var(--dark-c4);
						}

						.color-5.pad::before {
							color: transparent;
							background-color: var(--dark-c5);
						}
					}
				}

				.display#pat {
					.cursor {
						background-color: var(--dark-fg);
						color: var(--dark-bg);
					}

					.hover_1, .hover_2 {
						border-color: var(--dark-s1);

						.color-0::before {
							color: transparent;
							background-color: var(--dark-s2);
						}

						.color-1::before {
							color: transparent;
							background-color: var(--dark-c1);
						}

						.color-2::before {
							color: transparent;
							background-color: var(--dark-c2);
						}

						.color-3::before {
							color: transparent;
							background-color: var(--dark-c3);
						}

						.color-4::before {
							color: transparent;
							background-color: var(--dark-c4);
						}

						.color-5::before {
							color: transparent;
							background-color: var(--dark-c5);
						}
					}
				}

				.display#vhs {
					hr {
						background-color: var(--dark-s1);
					}
				}

				.display#ste {
					p {
						background-color: var(--dark-bg);
						color: var(--dark-fg);
					}

					.atom {
						.atom-container {
							.background {
								stroke: var(--dark-fg);

								transition-property: stroke;
								transition-duration: var(--tr-dur);
							}

							.circle-left, .circle-right {
								stroke: var(--dark-fg);
							}

							.circle-right.changed {
								stroke: var(--dark-c5);
							}

							.hider {
								background-color: var(--dark-bg);

								transition-property: background-color;
								transition-duration: var(--tr-dur);
							}

							.core {
								background-image: radial-gradient(at 25% 25%, var(--dark-c5) 0%, transparent 90%);

								transition-property: background-image;
								transition-duration: var(--tr-dur);
							}

							.orbit {
								border-color: var(--dark-s2);

								transition-property: background-image;
								transition-duration: var(--tr-dur);

								.electron {
									&::before {
										background-color: var(--dark-s3);

										transition-property: background-color;
										transition-duration: var(--tr-dur);
									}
								}
							}
						}
					}
				}
			}

			.ui:hover {
				border-color: var(--dark-c4);

				&::before {
					color: var(--dark-c4);
					background-color: var(--dark-bg);
				}

				.link {
					border-color: var(--dark-c4);
				}
			}

			.ui#list {
				.item:hover {
					&::before {
						background-color: var(--dark-s1);
					}
				}
			}
		}
	}

	.color-0 {
		color: var(--dark-s2);

		transition-property: color;
		transition-duration: var(--tr-dur);
	}

	.color-1 {
		color: var(--dark-c1);

		transition-property: color;
		transition-duration: var(--tr-dur);
	}

	.color-2 {
		color: var(--dark-c2);

		transition-property: color;
		transition-duration: var(--tr-dur);
	}

	.color-3 {
		color: var(--dark-c3);

		transition-property: color;
		transition-duration: var(--tr-dur);
	}

	.color-4 {
		color: var(--dark-c4);

		transition-property: color;
		transition-duration: var(--tr-dur);
	}

	.color-5 {
		color: var(--dark-c5);

		transition-property: color;
		transition-duration: var(--tr-dur);
	}
}

/* Light mode */
body[data-theme="light"] {
	background-color: var(--light-bg);
	color: var(--light-fg);

	transition-property: background-color, color;
	transition-duration: var(--tr-dur);

	#loader {
		background-color: var(--light-bg);
		color: var(--light-fg);

		transition-property: background-color, color;
		transition-duration: var(--tr-dur);

		.atom {
			.atom-container {
				.background {
					stroke: var(--light-fg);

					transition-property: stroke;
					transition-duration: var(--tr-dur);
				}

				.circle-left, .circle-right {
					stroke: var(--light-fg);
				}

				.circle-right.changed {
					stroke: var(--light-c5);
				}

				.hider {
					background-color: var(--light-bg);

					transition-property: background-color;
					transition-duration: var(--tr-dur);
				}

				.core {
					background-image: radial-gradient(at 25% 25%, var(--light-c5) 0%, transparent 90%);

					transition-property: background-image;
					transition-duration: var(--tr-dur);
				}

				.orbit {
					border-color: var(--light-s2);

					transition-property: background-image;
					transition-duration: var(--tr-dur);

					.electron {
						&::before {
							background-color: var(--light-s3);

							transition-property: background-color;
							transition-duration: var(--tr-dur);
						}
					}
				}
			}
		}

		.loader-text {
			color: var(--light-fg);

			transition-property: color;
			transition-duration: var(--tr-dur);
		}

		.loader-text-overlay {
			background-image: linear-gradient(to bottom, transparent 50%, var(--light-bg) 80%);

			transition-property: background-image;
			transition-duration: var(--tr-dur);
		}
	}

	#body {
		background-color: var(--light-bg);
		color: var(--light-fg);

		transition-property: background-color, color;
		transition-duration: var(--tr-dur);

		.block-reverse {
			color: var(--dark-fg);
			background-color: var(--dark-bg);

			border-color: var(--dark-s1);

			transition-property: color, background-color, border-color;
			transition-duration: var(--tr-dur);

			.color-0 {
				color: var(--dark-s2);

				transition-property: color;
				transition-duration: var(--tr-dur);
			}

			.color-1 {
				color: var(--dark-c1);

				transition-property: color;
				transition-duration: var(--tr-dur);
			}

			.color-2 {
				color: var(--dark-c2);

				transition-property: color;
				transition-duration: var(--tr-dur);
			}

			.color-3 {
				color: var(--dark-c3);

				transition-property: color;
				transition-duration: var(--tr-dur);
			}

			.color-4 {
				color: var(--dark-c4);

				transition-property: color;
				transition-duration: var(--tr-dur);
			}

			.color-5 {
				color: var(--dark-c5);

				transition-property: color;
				transition-duration: var(--tr-dur);
			}
		}

		.intro {
			background-image: conic-gradient(from -90deg, var(--light-bg), var(--light-fg));

			transition-property: background-image;
			transition-duration: var(--tr-dur);

			.name {
				color: var(--light-fg);

				transition-property: color;
				transition-duration: var(--tr-dur);
			}

			.desc {
				color: var(--light-bg);

				transition-property: color;
				transition-duration: var(--tr-dur);

				.color-0, .color-1 , .color-2, .color-3, .color-4, .color-5 {
					background-color: var(--light-bg);

					transition-property: background-color, color;
					transition-duration: var(--tr-dur);
				}
			}

			.upper {
				&::before {
					color: var(--dark-c2);

					transition-property: color;
					transition-duration: var(--tr-dur);
				}
			}

			.lower {
				color: var(--light-fg);
				background-color: var(--light-bg);

				border-color: var(--light-s1);

				transition-property: color, background-color, border-color;
				transition-duration: var(--tr-dur);

				&::before {
					color: var(--light-c4);

					transition-property: color;
					transition-duration: var(--tr-dur);
				}
			}
		}

		.about-me {
			color: var(--dark-fg);
			background-color: var(--dark-bg);

			transition-property: color, background-color;
			transition-duration: var(--tr-dur);

			.color-0, .color-1 , .color-2, .color-3, .color-4, .color-5 {
				background-color: var(--light-bg);

				transition-property: background-color, color;
				transition-duration: var(--tr-dur);
			}

			.name-left, .name-right {
				p {
					font-weight: 500;

					.outline {
						color: var(--light-fg);
						-webkit-text-stroke: 1px var(--light-bg);
					}

					.outline-special {
						-webkit-text-stroke: 1px var(--light-c5);
					}
				}
			}
		}

		.interests {
			color: var(--light-fg);
			background-color: var(--light-bg);

			transition-property: color, background-color;
			transition-duration: var(--tr-dur);

			.doc {
				color: var(--light-fg);
				background-color: var(--light-bg);

				transition-property: color, background-color;
				transition-duration: var(--tr-dur);

				.winbar {
					border-color: var(--light-s1);

					p {
						.root {
							color: var(--light-bg);
							background-color: var(--light-c5);
						}
					}
				}

				.color-0.pad::before {
					color: transparent;
					background-color: var(--light-c2);
				}

				.color-1.pad::before {
					color: transparent;
					background-color: var(--light-c1);
				}

				.color-2.pad::before {
					color: transparent;
					background-color: var(--light-c2);
				}

				.color-3.pad::before {
					color: transparent;
					background-color: var(--light-c3);
				}

				.color-4.pad::before {
					color: transparent;
					background-color: var(--light-c4);
				}

				.color-5.pad::before {
					color: transparent;
					background-color: var(--light-c5);
				}
			}

			.script {
				.line {
					.statuscolumn {
						background-color: var(--light-bg);
						border-right: 1px solid var(--light-s2);

						.lnum {
							color: var(--light-s3);
						}

						.lnum-active {
							color: var(--light-c5);
							font-weight: bold;
						}
					}

					.cursorline {
						background-color: var(--light-s1)
					}
				}

				.cursor {
					background-color: var(--light-fg);
					color: var(--light-bg);
				}

				.statusline {
					background-color: var(--dark-bg);

					.mode {
						background-color: var(--dark-c5);
						color: var(--dark-bg);
					}

					.file {
						background-color: var(--dark-s2);
						color: var(--dark-bg);
					}
				}
			}
		}
	}

	.color-0 {
		color: var(--light-s2);

		transition-property: color;
		transition-duration: var(--tr-dur);
	}

	.color-1 {
		color: var(--light-c1);

		transition-property: color;
		transition-duration: var(--tr-dur);
	}

	.color-2 {
		color: var(--light-c2);

		transition-property: color;
		transition-duration: var(--tr-dur);
	}

	.color-3 {
		color: var(--light-c3);

		transition-property: color;
		transition-duration: var(--tr-dur);
	}

	.color-4 {
		color: var(--light-c4);

		transition-property: color;
		transition-duration: var(--tr-dur);
	}

	.color-5 {
		color: var(--light-c5);

		transition-property: color;
		transition-duration: var(--tr-dur);
	}
}

@font-face {
	font-display: swap;
	font-family: "JetBrains Mono";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/JetBrainsMonoNerdFont-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

body {
	width: 100dvw;
	height: auto;

	overflow: hidden scroll;
	font-family: "JetBrains Mono"
}

#loader {
	position: absolute;

	top: 0;
	left: 0;

	width: 100dvw;
	height: 100dvh;

	z-index: 100;

	overflow: hidden;

	justify-content: center;
	align-content: center;

	.atom {
		---size: 200px;

		position: absolute;

		top: 50dvh;
		left: 50dvw;

		transform: translate(-50%, -50%);

		width: var(---size);
		height: var(---size);

		.atom-container {
			position: relative;

			width: 100%;
			height: 100%;

			justify-content: center;
			align-content: center;

			--orbit-size: 0.5px;
			--electron-size: 6px;

			.background {
				z-index: -1;

				width: 100%;
				height: 100%;

				transform: rotate(45deg);

				path {
					transform-origin: center;
				}
			}

			.hider {
				--w: 10%;

				position: absolute;

				top: 0;
				left: calc(50% - (var(--w) / 2));

				width: var(--w);
				height: 100%;

				transform: rotate(45deg);
			}

			.core {
				position: absolute;

				top: 35%;
				left: 35%;

				width: 30%;
				height: 30%;

				border-radius: 50%;
			}

			.orbit {
				.electron {
					position: absolute;

					top: 0;
					left: 0;

					width: 100%;
					height: 100%;

					&::before {
						content: "";

						position: absolute;

						top: calc(-1 * ( var(--electron-size) / 2 ));
						left: calc(50% - ( var(--electron-size) / 2 ));

						width: var(--electron-size);
						height: var(--electron-size);

						border-radius: 50%;
					}
				}
			}

			.orbit-1 {
				position: absolute;

				top: 25%;
				left: 25%;

				width: 50%;
				height: 50%;

				border-width: var(--orbit-size);
				border-style: solid;
				border-radius: 50%;

				.electron-2 {
					transform: rotate(180deg);
				}
			}

			.orbit-2 {
				position: absolute;

				top: 15%;
				left: 15%;

				width: 70%;
				height: 70%;

				border-width: var(--orbit-size);
				border-style: solid;
				border-radius: 50%;

				.electron-4 {
					transform: rotate(60deg);
				}

				.electron-5 {
					transform: rotate(120deg);
				}

				.electron-6 {
					transform: rotate(180deg);
				}

				.electron-7 {
					transform: rotate(240deg);
				}

				.electron-8 {
					transform: rotate(300deg);
				}
			}
		}
	}

	.loader-text {
		position: absolute;

		bottom: 0;
		left: 0;

		width: 100dvw;
		height: 20dvh;

		padding: 20dvw;

		.entry {
			display: grid;

			padding-bottom: 0.25rem;

			grid-auto-flow: column;
			grid-auto-columns: auto 1fr;
			grid-column-gap: 10px;

			.icon {
				width: 1rem;
				height: 1rem;
			}

			.text {
				align-content: center;

				font-size: 0.5rem;
				opacity: 0.75;
			}
		}
	}

	.loader-text-overlay {
		position: absolute;

		bottom: 0;
		left: 0;

		z-index: 10;

		width: 100dvw;
		height: 20dvh;
	}
}

#body {
	.intro {
		width: 100dvw;
		height: 100dvh;

		overflow: hidden;

		background-position: center center;
		background-size: calc(max(100dvw, 100dvh)) calc(max(100dvw, 100dvh));

		.name {
			position: absolute;

			top: calc(50dvh - 32px);
			left: 5dvw;

			font-size: 32px;
			line-height: 1;

			overflow: hidden;

			span {
				display: inline-block;
			}
		}

		.desc {
			position: absolute;

			top: 50dvh;
			right: 5dvw;

			width: 45dvw;

			font-size: 8px;
			line-height: 1.5;

			text-align: right;

			.color-0, .color-1, .color-2, .color-3, .color-4, .color-5 {
				padding: 0 2px;
			}
		}

		.window {
			position: absolute;

			width: auto;
			height: auto;

			padding: 5px;
			border-radius: 5px;

			font-size: 0.5rem;

			.hidden {
				opacity: 0;
			}
		}

		.upper {
			top: 20dvh;
			left: 20dvw;

			padding-right: calc(5px + 10ch);

			overflow: hidden;

			transform: rotateX(-15deg) rotateY(-10deg) rotateZ(0deg);

			&::before {
				position: absolute;

				top: 0;
				right: 0;

				padding: 5px;

				content: " Shell";
				text-align: right;
			}
		}

		.lower {
			bottom: 20dvh;
			right: 20dvw;

			padding-right: calc(5px + 3ch);

			overflow: hidden;

			transform: rotateX(30deg) rotateY(-10deg) rotateZ(0deg);

			&::before {
				position: absolute;

				top: 0;
				right: 0;

				width: 100%;
				height: 100%;

				padding: 5px;

				z-index: -1;

				content: " Lua";
				text-align: right;
			}
		}

		.arrow {
			position: absolute;

			bottom: 10px;
			right: calc(50dvw - 0.5ch);

			font-size: 2rem;
			-webkit-background-clip: text;
			background-clip: text;
		}
	}

	.about-me {
		position: relative;
		display: block;

		width: 100dvw;
		height: 100dvh;

		overflow: hidden;

		.name-left {
			position: absolute;

			top: 0;
			left: -12.5dvw;

			writing-mode: vertical-lr;
			text-orientation: mixed;

			font-size: 25dvw;
			line-height: 1;

			p {
				white-space: nowrap;
			}
		}

		.name-right {
			position: absolute;

			top: 0;
			right: -12.5dvw;

			writing-mode: vertical-rl;
			text-orientation: mixed;

			font-size: 25dvw;
			line-height: 1;

			p {
				white-space: nowrap;
			}
		}

		.overlay {
			position: absolute;

			top: 0;
			left: 0;

			z-index: 2;

			width: 100%;
			height: 100%;
		}

		.content {
			position: absolute;

			top: 0;
			left: 0;

			z-index: 3;

			width: 100%;
			height: 100%;

			padding: 0 15dvw;

			justify-content: center;
			align-content: center;
			text-align: center;

			p {
				font-size: 0.5rem;
			}

			.title {
				font-size: 2rem;
			}
		}
	}

	.interests {
		position: relative;
		display: grid;

		grid-template-rows: 4fr 6fr;

		width: 100dvw;
		height: 100dvh;

		overflow: hidden;

		font-size: 0.5rem;

		.doc {
			position: relative;
			overflow: scroll;

			filter: brightness(75%);

			p {
				margin: 0 5dvw 0 5dvw;
			}

			.right {
				text-align: right;
			}

			.title {
				color: transparent;
			}

			.ref, .mention, code {
				padding: 0 5px;
			}

			.color-0.pad, .color-1.pad, .color-2.pad, .color-3.pad, .color-4.pad, .color-5.pad {
				position: relative;
				padding: 0 2px;
			}

			.color-0.pad::before, .color-1.pad::before, .color-2.pad::before, .color-3.pad::before, .color-4.pad::before, .color-5.pad::before {
				content: "";
				position: absolute;

				top: 0;
				left: 0;

				width: 100%;
				height: 100%;

				opacity: 0.25;
			}
		}

		.winbar {
			position: absolute;

			top: calc(40dvh - (0.5rem + 2px));
			left: 0;

			width: 100dvw;

			z-index: 10;

			border-top-width: 1px;
			border-top-style: solid;

			p {
				margin: 0;

				.root {
					padding: 0 1ch;
				}
			}
		}

		.script {
			overflow-y: scroll;

			.line {
				position: relative;
				display: grid;

				width: 100dvw;
				min-height: 0.5rem;

				overflow: hidden;

				grid-template-columns: calc(3ch + 5px) 1fr;
				grid-column-gap: 5px;

				.statuscolumn {
					z-index: 2;

					white-space: pre;
					padding-right: 5px;

					.lnum {
						opacity: 0.5;
					}
				}

				.content {
					z-index: 2;

					p {
						padding-left: calc(var(--indent) * 4ch);
						word-wrap: break-word;
					}
				}

				.cursorline {
					position: absolute;

					top: 0;
					left: 0;

					z-index: 1;

					width: 100dvw;
					height: 100%;

					opacity: 0.25;
				}
			}

			.statusline {
				position: absolute;

				bottom: 0;
				left: 0;

				width: 100dvw;

				z-index: 10;

				text-align: center;

				.mode, .file {
					padding: 0 1ch;
				}
			}
		}
	}

	.projects {
		position: relative;
		display: grid;

		grid-template-rows: 8fr 2fr auto;
		grid-row-gap: 10px;

		width: 100dvw;
		height: 100dvh;

		padding: 10px;
		font-size: .5rem;

		overflow: hidden;

		.ui {
			position: relative;

			padding: 5px 0px;

			border-width: 1px;
			border-style: solid;
			border-radius: 4px;

			&::before {
				content: "";
				position: absolute;

				top: 0;
				left: 5px;

				padding: 0 5px;

				transform: translateY(-50%);
			}
		}

		.ui#preview {
			&::before {
				content: "[P]review";
			}

			.display {
				position: absolute;

				top: 0;
				left: 0;

				width: 100%;
				height: 100%;

				padding: 5px 5px;
				overflow: scroll;
				-webkit-overflow-scrolling: touch;

				.preview, .raw {
					overflow: scroll;
				}
			}

			.display#mkv {
				display: grid;

				grid-template-rows: 1fr 1fr;
				grid-row-gap: 1ch;

				> * {
					width: 65ch;
					overflow: scroll;
					-webkit-overflow-scrolling: touch;

					justify-self: center;
				}

				hr {
					position: absolute;

					top: calc(50% - 0.5px);
					left: 0;

					width: 100%;
					height: 1px;

					border: none;
				}

				.raw, .preview {
					h1, h2, h3 {
						font-size: .5rem;
					}
				}

				.preview {
					h1, h2, h3 {
						position: relative;

						padding-left: 1ch;

						&::before {
							content: "";
							position: absolute;

							top: 0;
							left: 0;

							width: 100%;
							height: 100%;

							opacity: 0.25;
						}
					}

					p {
						padding-left: calc(var(--indent) * 4ch);
						word-wrap: break-word;
					}

					code {
						padding: 0 5px;
					}
				}
			}

			.display#hpv {
				display: grid;

				grid-template-rows: 1fr 1fr;
				grid-row-gap: 1ch;

				> * {
					width: 65ch;
					overflow: scroll;
					-webkit-overflow-scrolling: touch;

					justify-self: center;
				}

				hr {
					position: absolute;

					top: calc(50% - 0.5px);
					left: 0;

					width: 100%;
					height: 1px;

					border: none;
				}

				.flex {
					display: flex;

					justify-content: space-between;
				}

				.raw, .preview {
					h1, h2, h3 {
						font-size: .5rem;
						border-width: 0 0 2px 0;
					}

					p {
						padding-left: calc(var(--indent) * 4ch);
						word-wrap: break-word;
					}
				}

				.preview {
					h1, h2, h3 {
						position: relative;

						padding-left: 1ch;

						&::before {
							content: "";
							position: absolute;

							top: 0;
							left: 0;

							width: 100%;
							height: 100%;

							opacity: 0.25;
						}
					}

					.ref, .mention {
						padding: 0 5px;
					}

					.color-0.pad, .color-1.pad, .color-2.pad, .color-3.pad, .color-4.pad, .color-5.pad {
						position: relative;
						padding: 0 2px;
					}

					.color-0.pad::before, .color-1.pad::before, .color-2.pad::before, .color-3.pad::before, .color-4.pad::before, .color-5.pad::before {
						content: "";
						position: absolute;

						top: 0;
						left: 0;

						width: 100%;
						height: 100%;

						opacity: 0.25;
					}
				}
			}

			.display#pat {
				.hover_1 {
					position: absolute;

					top: 1.5rem;
					left: 40ch;

					border-width: 0.75px;
					border-style: solid;
					border-radius: 2.5px;

					overflow: hidden;
				}

				.hover_2 {
					position: absolute;

					top: 6.75rem;
					left: 15ch;

					border-width: 0.75px;
					border-style: solid;
					border-radius: 2.5px;

					overflow: hidden;
				}

				.hover_1, .hover_2 {
					p {
						--indent: 0;

						padding-left: calc(5px + var(--indent) * 2ch);
						padding-right: 5px;
					}

					.color-0, .color-1, .color-2, .color-3, .color-4, .color-5 {
						position: relative;
					}

					.color-0::before, .color-1::before, .color-2::before, .color-3::before, .color-4::before, .color-5::before {
						content: "";
						position: absolute;

						top: 0;
						left: 0;

						width: 100%;
						height: 100%;

						opacity: 0.25;
					}
				}
			}

			.display#vhs {
				display: grid;

				grid-template-rows: 1fr 1fr;
				grid-row-gap: 1ch;

				> * {
					width: 65ch;
					overflow: scroll;
					-webkit-overflow-scrolling: touch;
				}

				hr {
					position: absolute;

					top: calc(50% - 0.5px);
					left: 0;

					width: 100%;
					height: 1px;

					border: none;
				}
			}

			.display#ste {
				justify-content: center;
				align-content: center;
				text-align: center;

				p {
					position: absolute;

					top: 50%;
					left: calc(50% - 3.5ch);

					z-index: 5;

					width: 7ch;
					font-size: 3rem;
					line-height: 1;
					overflow: hidden;

					transform: translateY(-50%);
				}

				.atom {
					---size: 200px;

					position: absolute;

					top: 50%;
					left: 50%;

					transform: translate(-50%, -50%);

					width: var(---size);
					height: var(---size);

					.atom-container {
						position: relative;

						width: 100%;
						height: 100%;

						justify-content: center;
						align-content: center;

						--orbit-size: 0.5px;
						--electron-size: 6px;

						.hider {
							--w: 10%;

							position: absolute;

							top: 0;
							left: calc(50% - (var(--w) / 2));

							width: var(--w);
							height: 100%;

							transform: rotate(45deg);
						}

						.background {
							z-index: -1;

							width: 100%;
							height: 100%;

							transform: rotate(45deg);

							path {
								transform-origin: center;
							}
						}

						.core {
							position: absolute;

							top: 35%;
							left: 35%;

							width: 30%;
							height: 30%;

							border-radius: 50%;
						}

						.orbit {
							.electron {
								position: absolute;

								top: 0;
								left: 0;

								width: 100%;
								height: 100%;

								&::before {
									content: "";

									position: absolute;

									top: calc(-1 * ( var(--electron-size) / 2 ));
									left: calc(50% - ( var(--electron-size) / 2 ));

									width: var(--electron-size);
									height: var(--electron-size);

									border-radius: 50%;
								}
							}
						}

						.orbit-1 {
							position: absolute;

							top: 25%;
							left: 25%;

							width: 50%;
							height: 50%;

							border-width: var(--orbit-size);
							border-style: solid;
							border-radius: 50%;

							.electron-2 {
								transform: rotate(180deg);
							}
						}

						.orbit-2 {
							position: absolute;

							top: 15%;
							left: 15%;

							width: 70%;
							height: 70%;

							border-width: var(--orbit-size);
							border-style: solid;
							border-radius: 50%;

							.electron-4 {
								transform: rotate(60deg);
							}

							.electron-5 {
								transform: rotate(120deg);
							}

							.electron-6 {
								transform: rotate(180deg);
							}

							.electron-7 {
								transform: rotate(240deg);
							}

							.electron-8 {
								transform: rotate(300deg);
							}
						}
					}
				}
			}
		}

		.ui#desc {
			padding: 5px;

			&::before {
				content: "[D]escription";
			}

			.link {
				position: absolute;

				bottom: 5px;
				right: 5px;

				padding-bottom: 0.5px;

				border-bottom-width: 0.5px;
				border-bottom-style: dashed;

				text-decoration: none;

				&:hover {
					border-bottom-style: solid;
				}
			}
		}

		.ui#list {
			padding: 5px 0 0 0;

			&::before {
				content: "[F]eatured projects";
			}

			.item {
				position: relative;
				display: grid;
				padding: 0 5px;

				grid-template-columns: 2ch 3fr 7fr;
				grid-column-gap: 1ch;

				margin-bottom: 2px;

				&::before {
					position: absolute;
					content: "";

					top: 0;
					left: 0;

					z-index: 1;

					width: 100%;
					height: 100%;

					opacity: 0.5;
				}

				* {
					z-index: 5;
				}
			}
		}
	}
}


/* For desktop */
@media (min-width: 100ch) {
	#body {
		.projects {
			.ui#preview {
				.display#hpv {
					justify-content: center;
					grid-template-columns: 65ch 65ch;
				}

				.display#vhs {
					justify-content: center;
					grid-template-columns: 65ch 65ch;
				}
			}
		}
	}
}

